<div class="maindiv">

  <!-- //card 1 -->
  <mat-card class="card-spacing" >
    <button mat-raised-button class="backbtn" routerLink="">Back Home</button>
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image">
        <img src="../../../assets/ultrasounds/1gevoluson.png" alt="Ultrasound Machine" style="max-width: 100px;">
      </div> -->
      <mat-card-title style="color: white;">Category: Ultrasound</mat-card-title>
      <mat-card-subtitle>GE Voluson E8</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">
        <div>
          <img src="../../../assets/ultrasounds/1gevoluson.png" alt="Photo of GE Voluson E8" class="rounded-lg" style="max-width: 250px;">
        </div>
        <div class="w-2/3">
          <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
          <mat-checkbox checked>YOM: 2019</mat-checkbox>
          <mat-checkbox checked>Software Version: BT19</mat-checkbox>
          <mat-checkbox checked>HW Accessories: BW Printer, FootSwitch</mat-checkbox>
          <mat-checkbox checked>Application: 4D OB/GYN</mat-checkbox>
          <mat-checkbox checked>Options Installed: Advanced 4D, HDLive Studio, Advanced VCI, DVD & USB Recorder, IEC62359 Ed.2, SonoAVC, SonoCNS, IETA, IOTA Adnex, BT Activation</mat-checkbox>
          <mat-accordion class="mt-4">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Description</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                The GE Voluson E8 series is a comprehensive range of ultrasound machines that cater to the needs of Women’s Health professionals. It is designed with user comfort and ergonomic working positions in mind, suitable for all users. The systems’ design makes them easy to move around. The control panel height is easily adjusted to fit each individual user, and the display is on an articulating arm, ensuring a comfortable working position for all users.
                The newer series includes the GE Voluson E8 BT15, BT16, BT17, BT18, BT19, and BT20 models. Each model offers unique features and capabilities, designed to optimize workflow, increase accuracy, and improve patient care.
                The GE Voluson E8 BT20 is the latest addition to the series and offers state-of-the-art features that enhance image quality and workflow efficiency. The system comes equipped with innovative technologies, including the new Radiance System Architecture, which enables higher processing power, increased data storage, and faster image rendering.
                The BT20 model also features advanced tools designed to support clinicians in the detection and diagnosis of fetal heart conditions. These tools include Fetal Heart STIC, Fetal Heart eSTIC, and Advanced STIC, which provide volumetric imaging of the fetal heart and enable detailed analysis of cardiac function.
                These systems feature innovative technologies such as HDlive, which provides exceptional anatomical realism, and SonoRender Start, which allows for easy and quick 3D/4D imaging. Additionally, the series offers a range of advanced tools designed to support clinicians in the diagnosis of various gynecological conditions.
                In conclusion, the GE Voluson E8 series is a top-of-the-line range of ultrasound machines designed to meet the diverse needs of Women’s Health professionals. With advanced features, ease of use, and user-friendly design, these systems offer exceptional imaging quality, accuracy, and efficiency, making them an ideal choice for any Women’s Health practice.
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
     
    </mat-card-content>
    <mat-card-actions class="flex justify-end ">
      <button mat-button class="btnenquire" >Enquire</button>
    </mat-card-actions>
  </mat-card>
 <!-- //card 2 -->
<mat-card class="card-spacing">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image">
      <img src="../../../assets/ultrasounds/2gevoluson.png" alt="Ultrasound Machine" style="max-width: 100px;">
    </div> -->
    <mat-card-title style="color: white;">Category: Ultrasound</mat-card-title>
    <mat-card-subtitle>GE Voluson E10 BT19 OLED</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex">
      <div>
        <img src="../../../assets/ultrasounds/2gevolusion.png" alt="Photo of GE Voluson E10 BT19 OLED" class="rounded-lg" style="max-width: 250px;">
      </div>
      <div class="w-2/3">
        <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
        <mat-checkbox checked>YOM: 2017</mat-checkbox>
        <mat-checkbox checked>Software Version: EC340</mat-checkbox>
        <mat-checkbox checked>HW Accessories: Footswitch - BW - Printer</mat-checkbox>
        <mat-checkbox checked>Application: 4D OB/GYN</mat-checkbox>
        <mat-checkbox checked>Options Installed: Advanced 4D, e4D Advanced Features, Vocal II, Advanced VCI, Elastography, IOTA LR2, IOTA Simple Rules, V-SRI, CW, Advanced STIC, DVD & USB Recorder, IEC62359 Ed.2, SonoAVC, SonoCNS, Anatomical M-Mode Tricefy, fetalHQ, IETA, IOTA Adnex, BT Activation</mat-checkbox>
        <mat-accordion class="mt-4">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Description</mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              The GE Voluson E10 OLED is a modern ultrasound system that was designed with both operator and patient in mind. Its ergonomic design guarantees comfort during extended use, and the user-friendly interface and adjustable settings make it easy to use, reducing down on exam time and boosting productivity. This enhances care and raises patient satisfaction.
              The Voluson E10 OLED, which has an OLED display, outperforms conventional LCD screens with its astonishing clarity and brilliant colors. This technology enables accurate diagnosis and assured decision-making by enabling healthcare practitioners to perceive even the smallest details with unparalleled precision.
              Renowned for its high-resolution imaging capabilities, the Voluson E10 OLED utilizes advanced technologies and algorithms to deliver exceptional image resolution. This enables clear visualization of small anatomical structures and subtle abnormalities, ensuring accurate diagnosis and treatment planning.
              The system includes the BT19 software, an extensive collection of unique features and workflow tools that can be customized to increase productivity and efficiency during exams.
              With wireless connectivity options, the Voluson E10 OLED seamlessly connects with hospital networks and other devices. This enables quick and easy transfer of data, images, and patient information, facilitating efficient workflow management and integration with electronic medical records (EMR) systems.
              The system promotes user comfort and ease of use through ergonomic engineering. The user-friendly interface, well laid out menus, and configurable features improve ergonomic posture and reduce user fatigue, increasing operator comfort and productivity.
              The combination of advanced features, intuitive interface, and customizable settings significantly enhances productivity in a clinical setting. 
              Experience the GE Voluson E10 OLED and embrace the future of ultrasound imaging. With its exceptional image quality, advanced technology, and user-centric design, it empowers healthcare professionals to deliver superior care and improve patient outcomes. 
              
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="flex justify-end">
    <button mat-button class="btnenquire">Enquire</button>
  </mat-card-actions>
</mat-card>

 <!-- //card 3 -->
<mat-card class="card-spacing">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image">
      <img src="../../../assets/ultrasounds/siemens-acuson-juniper.jpg" alt="Siemens Acuson Juniper" style="max-width: 100px;">
    </div> -->
    <mat-card-title style="color: white;">Category: Ultrasound</mat-card-title>
    <mat-card-subtitle>Siemens Acuson Juniper</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex">
      <div>
        <img src="../../../assets/ultrasounds/3siemens.png" alt="Photo of Siemens Acuson Juniper" class="rounded-lg" style="max-width: 250px;">
      </div>
      <div class="w-2/3">
        <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
        <mat-checkbox checked>YOM: 2020</mat-checkbox>
        <mat-checkbox checked>Software Version: VA10G</mat-checkbox>
        <mat-checkbox checked>HW Accessories: Gel Warmer</mat-checkbox>
        <mat-checkbox checked>Application: General Imaging</mat-checkbox>
        <mat-accordion class="mt-4">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Description</mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              The Siemens Acuson Juniper is a high-performance ultrasound machine that can scan every patient regardless of their condition, size or weight. This system is the best-in-class elastography and is designed to adapt to everyday clinical and workflow challenges. It is a small but a powerful system, and it is capable of accommodating all patients virtually. Moreover, it is one of the industry’s smallest ultrasound systems. It is up to 36% smaller and weighs an average of 27% less than other systems in its class. And the Siemens Acuson Juniper price will fit any budget.
              The Acuson Juniper comes with an optimized accessibility and expanded application. It has unlimited versatility with front and back handle for effortless mobility. Additionally, the machine has a wide monitor, large touch display, and intuitive user interface. On top of that, to support multiple clinical applications, the Acuson Juniper has in total 6 ports, including 5 active transducer ports and 1 CW port. Furthermore, this system has a Shear wave elastography imaging that can consistently deliver high quality images with high contrast resolution, high color sensitivity, complete image uniformity, and smooth dynamic flow.
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="flex justify-end">
    <button mat-button class="btnenquire">Enquire</button>
  </mat-card-actions>
</mat-card>

  <!-- //card 4 -->
<mat-card class="card-spacing">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image">
      <img src="../../../assets/ultrasounds/siemens-acuson-s1000.jpg" alt="Siemens Acuson S1000 HELX TOUCH" style="max-width: 100px;">
    </div> -->
    <mat-card-title style="color: white;">Category: Ultrasound</mat-card-title>
    <mat-card-subtitle>Siemens Acuson S1000 HELX TOUCH</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex">
      <div>
        <img src="../../../assets/ultrasounds/4siemens.png" alt="Photo of Siemens Acuson S1000 HELX TOUCH" class="rounded-lg" style="max-width: 250px;">
      </div>
      <div class="w-2/3">
        <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
        <mat-checkbox checked>YOM: 2019</mat-checkbox>
        <mat-checkbox checked>Software Version: 500.1.114</mat-checkbox>
        <mat-checkbox checked>HW Accessories: Color printer, B/W printer, Gel Warmer</mat-checkbox>
        <mat-checkbox checked>Application: General Imaging</mat-checkbox>
        <mat-accordion class="mt-4">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Description</mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              The S1000 is a high quality ultrasound from Siemens. The system provides solid ultrasound technology, good imaging performance and versatile applications at a low cost. Hence, it will bring you more opportunities to offer the best patient care.
              In addition, the Siemens Acuson S1000 system features the premium imaging performance that you can expect from the whole Acuson S family. It shares the advanced system design with the industry-leading ACUSON S2000™ ultrasound system. This architecture creates a high-fidelity ultrasound signal while running multiple real-time applications. It also gives you the premium image quality you need to make your diagnosis – even in technically more difficult patients.
              You can configure the Acuson S1000 so that it will support your clinical needs and budget requirements. Moreover, the system has many uses as it has multiple specialties. It supports a wide range of probes and multiple applications for all body types. It is recommended for general imaging, therefore, it is an ideal system for both hospitals and private practices.
              With its powerful architecture, the Acuson S1000 supports a full range of advanced technologies and features. Siemens migrated a lot of their most powerful innovations and applications to this system. For instance, they included the eSie Touch™ elasticity imaging. It is a technology that calculates and displays highly sensitive real-time qualitative images of the relative tissue stiffness.
              Furthermore, it offers the eSieScan™ workflow protocols. It provides increased exam consistency and simplified workflow by allowing you to customize the exam protocol to your needs. Additionally, the machine could come with HELX advanced applications that enable the clinicians to personalized the examinations to the patients’ individual condition.
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="flex justify-end">
    <button mat-button class="btnenquire">Enquire</button>
  </mat-card-actions>
</mat-card>

  <!-- //card 5 -->
<mat-card class="card-spacing">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image">
      <img src="../../../assets/ultrasounds/siemens-acuson-s2000.jpg" alt="Siemens Acuson S2000" style="max-width: 100px;">
    </div> -->
    <mat-card-title style="color: white;">Category: Ultrasound</mat-card-title>
    <mat-card-subtitle>Siemens Acuson S2000</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex">
      <div>
        <img src="../../../assets/ultrasounds/5siemens.png" alt="Photo of Siemens Acuson S2000" class="rounded-lg" style="max-width: 250px;">
      </div>
      <div class="w-2/3">
        <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
        <mat-checkbox checked>YOM: 2011</mat-checkbox>
        <mat-checkbox checked>Application: General Imaging</mat-checkbox>
        <mat-accordion class="mt-4">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Description</mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              The used Siemens S2000 is a popular system and provides superior image quality delivering effectiveness of the diagnostic process. It provides innovative clinical applications and ergonomics, which allows a great accuracy of diagnosis. Furthermore, it covers the entire continuum of care from screening and diagnosis to therapy and follow-up. Hereby giving you a top-performing platform for today and in the future.
              It can be customized to a wide range of applications of ultrasound, including abdominal, vascular, OB/GYN, and more. It features Advanced SieClear and Advanced fourSight (4D-mode) technologies. These technologies enhance the border definition and tissue contrast and improve the quality of volume imaging respectively. The Siemens Acuson S2000 is therefore easy to use and it is one of the best machines in its price group.
              Image quality is everything, whether you are trying to detect subtle lesions or penetrate deep into the abdomen of a technically difficult-to-scan patient. As mentioned, the Siemens Acuson S2000 delivers high image quality – in both B-mode and colour Doppler for extraordinary diagnostic confidence. The unique imaging technologies provide perfect detail resolution that enables you to distinguish the most subtle tissue detail and structures.
              The Siemens Acuson S2000´s excellent sensitivity allows visualization of slight velocity changes of blood flow. This offer easier detection of abnormalities, as well as visualization of fine vessels. The new family of high-density element array transducers has been designed to take full advantage of the system’s powerful capabilities. Hereby the transducers enable the Siemens Acuson S2000 to provide more information than ever.
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="flex justify-end">
    <button mat-button class="btnenquire">Enquire</button>
  </mat-card-actions>
</mat-card>

</div>
