<div class="maindiv">
    <button mat-raised-button class="backbtn" routerLink="">Back Home</button>
    <!-- //card 2 -->
<mat-card class="card-spacing">
    <mat-card-header>
      <mat-card-title style="color: white;">Category: X-Rays</mat-card-title>
      <mat-card-subtitle>Siemens Arcadis Avantic</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">
        <div>
          <img src="../../../assets/xrays/xray1.png" alt="Photo of Siemens Arcadis Avantic" class="rounded-lg" style="max-width: 250px;">
        </div>
        <div class="w-2/3">
          <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
          <mat-checkbox checked>YOM: 2007</mat-checkbox>
          <mat-checkbox checked>Tube Model: MODEL NO. 3825150</mat-checkbox>
          <mat-checkbox checked>Tube YOM: Original (2007)</mat-checkbox>
          <mat-checkbox checked>HW Accessories: Control panel for exposure unit</mat-checkbox>
          <mat-checkbox checked>Application: General surgery / orthopedics / Cardio / Vascular</mat-checkbox>
          <mat-checkbox checked>Detector/ Image intens. + size: 13"</mat-checkbox>
          <mat-accordion class="mt-4">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Description</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                The Siemens Arcadis Avantic is a cutting-edge mobile C-arm with a larger field of view.

                This system incorporates numerous to-the-point solutions from image quality to operability, from versatility to efficiency.

                The groundbreaking features of the Siemens Arcadis Avantic will satisfy your clinical needs with its outstanding functionalities that make excellent imaging a snap and an overall ergonomic concept that redefines your clinical workflow in many fields of practice.

                This C-arm is an ergonomic system with lightweight and 180° rotatable both vertically and horizontally adjustable monitors. It requires less space and it can be adjusted to your specific needs. Its syngo® user interface provides intuitive and fast operation, networking, and image postprocessing.

                The monitor cart of Arcadis Avantic has major improvements designed to ease your everyday work. With its small footprint of only 73 x 65 cm, it is excellent for those who need a space-saving design. Moreover, its compact and lightweight design, centralised foot brake, ergonomic handles, and the foldable monitors contribute to an appreciable advantage in maneuverability.
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-end ">
      <button mat-button class="btnenquire">Enquire</button>
    </mat-card-actions>
  </mat-card>

  <!-- //card 3 -->
<mat-card class="card-spacing">
    <mat-card-header>
      <mat-card-title style="color: white;">Category: X-Rays</mat-card-title>
      <mat-card-subtitle>Siemens Axiom Ysio G2 FLC</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">
        <div>
          <img src="../../../assets/xrays/xray2.png" alt="Photo of Siemens Axiom Ysio G2 FLC" class="rounded-lg" style="max-width: 250px;">
        </div>
        <div class="w-2/3">
          <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
          <mat-checkbox checked>YOM: 2010</mat-checkbox>
          <mat-checkbox checked>Software Version: VB10L</mat-checkbox>
          <mat-checkbox checked>Tube YOM: 2019</mat-checkbox>
          <mat-checkbox checked>Floor/celing mounted: Ceiling Mounted</mat-checkbox>
          <mat-checkbox checked>Digital / Analogic: DIGITAL</mat-checkbox>
          <mat-accordion class="mt-4">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Description</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                <!-- Add description here -->
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-end ">
      <button mat-button class="btnenquire">Enquire</button>
    </mat-card-actions>
  </mat-card>

  <!-- //card 4 -->
<mat-card class="card-spacing">
    <mat-card-header>
      <mat-card-title style="color: white;">Category: X-Rays</mat-card-title>
      <mat-card-subtitle>Siemens Axiom Artis Zee Multipurpose</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">
        <div>
          <img src="../../../assets/xrays/xray3.png" alt="Photo of Siemens Axiom Artis Zee Multipurpose" class="rounded-lg" style="max-width: 250px;">
        </div>
        <div class="w-2/3">
          <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
          <mat-checkbox checked>YOM: 2010</mat-checkbox>
          <mat-checkbox checked>Software Version: VC21C</mat-checkbox>
          <mat-checkbox checked>Tube Model: Megalix Cat Plus 125/20/40/80</mat-checkbox>
          <mat-checkbox checked>Tube YOM: 2018</mat-checkbox>
          <mat-checkbox checked>Single Plane / Biplane: Single Plane</mat-checkbox>
          <mat-checkbox checked>Floor/celing mounted: Floor Mounted</mat-checkbox>
          <mat-accordion class="mt-4">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Description</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                <!-- Add description here -->
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-end ">
      <button mat-button class="btnenquire">Enquire</button>
    </mat-card-actions>
  </mat-card>

<!-- //card 5 -->
<mat-card class="card-spacing">
    <mat-card-header>
      <mat-card-title style="color: white;">Category: X-Rays</mat-card-title>
      <mat-card-subtitle>Siemens Cios Alpha</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">
        <div>
          <img src="../../../assets/xrays/xray4.png" alt="Photo of Siemens Cios Alpha" class="rounded-lg" style="max-width: 250px;">
        </div>
        <div class="w-2/3">
          <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
          <mat-checkbox checked>YOM: 2018</mat-checkbox>
          <mat-checkbox checked>Software Version: VA20H</mat-checkbox>
          <mat-checkbox checked>Tube Model: Opti 150/10/30R</mat-checkbox>
          <mat-checkbox checked>Tube YOM: 2018</mat-checkbox>
          <mat-checkbox checked>HW Accessories: Screen, handswitch, footswitch</mat-checkbox>
          <mat-checkbox checked>Application: General surgery / Orthopedics / Cardio</mat-checkbox>
          <mat-checkbox checked>Detector/ Image intens. + size: 20X20</mat-checkbox>
          <mat-accordion class="mt-4">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Description</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                The Siemens Cios Alpha digital C-arm is a cutting-edge medical imaging device designed for use in surgical and diagnostic procedures. With its advanced digital imaging technology, it provides high-quality images in real-time, enabling medical professionals to make informed decisions during procedures.
                The compact and ergonomic design of the Cios Alpha makes it ideal for use in a variety of settings, from operating rooms to emergency departments. It features a range of advanced features, including a large monitor for clear image display, easy maneuverability for maximum flexibility, and intuitive controls for easy operation.
                Whether you’re a surgeon, radiologist, or other medical professional, the Siemens Cios Alpha digital C-arm is an essential tool for delivering the best possible patient care.
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-end ">
      <button mat-button class="btnenquire">Enquire</button>
    </mat-card-actions>
  </mat-card>


  <!-- //card 6 -->
<mat-card class="card-spacing">
    <mat-card-header>
      <mat-card-title style="color: white;">Category: X-Rays</mat-card-title>
      <mat-card-subtitle>Philips BV Endura</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">
        <div>
          <img src="../../../assets/xrays/xray6.png" alt="Photo of Philips BV Endura" class="rounded-lg" style="max-width: 250px;">
        </div>
        <div class="w-2/3">
          <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
          <mat-checkbox checked>YOM: 2009</mat-checkbox>
          <mat-checkbox checked>Software Version: 2.2.7</mat-checkbox>
          <mat-checkbox checked>Tube Model: X-ray tube 110kV</mat-checkbox>
          <mat-checkbox checked>Tube YOM: 2008</mat-checkbox>
          <mat-checkbox checked>Detector Size: 12"</mat-checkbox>
          <mat-checkbox checked>HW Accessories: Footswitch, handswitch</mat-checkbox>
          <mat-checkbox checked>Application: General surgery / orthopedics</mat-checkbox>
          <mat-checkbox checked>Detector/ Image intens. + size: 9"</mat-checkbox>
          <mat-checkbox checked>Options Installed: Handswitch, footswitch</mat-checkbox>
          <mat-accordion class="mt-4">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Description</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Philips BV Endura is a mobile C-Arm system. The system consists of a C-arm stand with a compact foot and rear-wheel steering for straightforward maneuverability and positioning. The clever design of the device and mobility of the view station provides the user with a better view and easy connectivity.
                As compact and as flexible as the C-arm system can be, this system from Philips is versatile and easy to use. Hence, it can offer a wide range of different examinations including vascular. The device is very easy to transport, and all parts are well-accessible to clean.
                This system possesses a fixed anode X-ray tube, which supports a lengthy procedure with its high cooling rate. Automatic settings of this X-ray beam provide consistent quality during any procedure and beam-filter reduces patient skin dose.
                Collimation is the process of aligning all components in a device to bring light to its best focus. Every optical imaging device got to be collimated, however, it is easy to perform this task on some and a touch harder on others. BV Endura makes collimation easy and therefore it reduces scatter radiation and enhances image quality. In addition, during collimation there use to be produced additional x-ray radiation. This system from Philips eliminates additional X-ray doses during collimation.
                BV Endura has both analog and optional digital outputs. The system allows you to display external video signals such as endoscopy or ultrasound on one of the screens. Therefore, you can have all images and information you need during the examination to compare or connect in one place. All images can be stored at USB storage.
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-end ">
      <button mat-button class="btnenquire">Enquire</button>
    </mat-card-actions>
  </mat-card>

</div>