<div class="maindiv">
       <button mat-raised-button class="backbtn" routerLink="">Back Home</button>
 <!-- //card 2 -->
<mat-card class="card-spacing">
    <mat-card-header>
      <mat-card-title style="color: white;">Category: Mammography</mat-card-title>
      <mat-card-subtitle>Siemens Mammomat Inspiration</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">
        <div>
          <img src="../../../assets/mammos/mammo1.png" alt="Photo of Siemens Mammomat Inspiration" class="rounded-lg" style="max-width: 250px;">
        </div>
        <div class="w-2/3">
          <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
          <mat-checkbox checked>YOM: 2015</mat-checkbox>
          <mat-checkbox checked>Software Version: Syngo VE33A</mat-checkbox>
          <mat-checkbox checked>Tube Model: P40 MoW - 100G</mat-checkbox>
          <mat-checkbox checked>Tube YOM: 2017</mat-checkbox>
          <mat-checkbox checked>Detector Type + size: FPD LMAM2 24x30</mat-checkbox>
          <mat-checkbox checked>Detector YOM: 2015</mat-checkbox>
          <mat-checkbox checked>HW Accessories: 7 paddles, mag. table, calibration phantom, acrylic plates, 2 paddle holders</mat-checkbox>
          <mat-accordion class="mt-4">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Description</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                <!-- Add description here -->
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-end ">
      <button mat-button class="btnenquire" routerLink="contacts">Enquire</button>
    </mat-card-actions>
  </mat-card>
  
  <!-- //card 2 -->
<mat-card class="card-spacing">
    <mat-card-header>
      <mat-card-title style="color: white;">Category: Mammography</mat-card-title>
      <mat-card-subtitle>Fuji Amulet One</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">
        <div>
          <img src="../../../assets/mammos/mammo2.png" alt="Photo of Fuji Amulet One" class="rounded-lg" style="max-width: 250px;">
        </div>
        <div class="w-2/3">
          <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
          <mat-checkbox checked>YOM: 2011</mat-checkbox>
          <mat-checkbox checked>Software Version: RU: 3.13 - Mainsoft v4.1.0017</mat-checkbox>
          <mat-checkbox checked>Tube Model: Single Tank unit P40 MoW-100G</mat-checkbox>
          <mat-checkbox checked>Tube YOM: 2014</mat-checkbox>
          <mat-checkbox checked>Detector Type + size: FPD 24x30</mat-checkbox>
          <mat-checkbox checked>Detector YOM: 2010</mat-checkbox>
          <mat-checkbox checked>HW Accessories: 2 footswitch, 6 paddels, 1 mag</mat-checkbox>
          <mat-accordion class="mt-4">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Description</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                <!-- Add description here -->
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-end ">
      <button mat-button class="btnenquire">Enquire</button>
    </mat-card-actions>
  </mat-card>

   <!-- //card 3 -->
<mat-card class="card-spacing">
    <mat-card-header>
      <mat-card-title style="color: white;">Category: Mammography</mat-card-title>
      <mat-card-subtitle>Siemens Mammomat Inspiration TOMO</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">
        <div>
          <img src="../../../assets/mammos/mammo3.png" alt="Photo of Siemens Mammomat Inspiration TOMO" class="rounded-lg" style="max-width: 250px;">
        </div>
        <div class="w-2/3">
          <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
          <mat-checkbox checked>YOM: 2011</mat-checkbox>
          <mat-checkbox checked>Software Version: VB60G - WH AWS: VX20C</mat-checkbox>
          <mat-checkbox checked>Tube Model: P40 MoW - 100G</mat-checkbox>
          <mat-checkbox checked>Tube YOM: 2012</mat-checkbox>
          <mat-checkbox checked>Detector Type + size: LMAM + 24x30</mat-checkbox>
          <mat-checkbox checked>Detector YOM: 2020</mat-checkbox>
          <mat-checkbox checked>Buckies incl. + size: 24 x 30</mat-checkbox>
          <mat-checkbox checked>HW Accessories: Cal Phantom, 1 mag, 11 paddles, 1 expose footswitch, 2 footswitch</mat-checkbox>
          <mat-accordion class="mt-4">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Description</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                This mammography system from Siemens offers excellent imaging quality that ensures early detection of abnormalities. This, in turn, increases the chances of early and hereby, successful treatment.

                Healthcare providers all over the world can enjoy intuitive workflows and time saving features that includes the one-click-to image. This can improve the efficiency of the department as the efficient workflow turns into high patient-throughput. This will in turn increase profitability and make sure that you will get a fast return-on-investment.

                Furthermore, it offers optimized workflows and patient comfort. The latter is ensured by individualized compression which limits compression for each patient, hereby reducing discomfort associated with mammography. This featured is implemented with the Opcomp® function. It monitors the pliability of the tissue and only increase compression to the point when the compression is optimal for image quality.
                Newer versions of the Mammomat Inspiration also come with the MoodLight that creates a relaxed atmosphere.

                To further improve patient safety, it has implemented low-dose technology to avoid unnecessary high exposures of x-rays. Additionally, it has three anode/filter combinations that will allow you to match breast density and thickness. The Opdose® software automatically selects the best combination of these, and the lowest possible dose. Additionally, the Siemens Mammomat Inspiration comes with Tungsten technology, which decrease exposure time and allows imaging of dense breast tissue.

                The Mammomat Inspiration is a popular mammography unit from Siemens and is a reliable system that can cover a wide range of needs within mammography examinations.
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-end ">
      <button mat-button class="btnenquire">Enquire</button>
    </mat-card-actions>
  </mat-card>

  <!-- //card 4 -->
<mat-card class="card-spacing">
    <mat-card-header>
      <mat-card-title style="color: white;">Category: Mammography</mat-card-title>
      <mat-card-subtitle>Fuji Amulet Innovality 3D</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">
        <div>
          <img src="../../../assets/mammos/mammo4.png" alt="Photo of Fuji Amulet Innovality 3D" class="rounded-lg" style="max-width: 250px;">
        </div>
        <div class="w-2/3">
          <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
          <mat-checkbox checked>YOM: 2014</mat-checkbox>
          <mat-checkbox checked>Software Version: MU: 5.7, MUC: 3.8, Mainsoft: 9.2</mat-checkbox>
          <mat-checkbox checked>Tube Model: M-113T</mat-checkbox>
          <mat-checkbox checked>Tube YOM: 2014</mat-checkbox>
          <mat-checkbox checked>Detector Type + size: FPD + 24x30</mat-checkbox>
          <mat-checkbox checked>Detector YOM: 2018</mat-checkbox>
          <mat-checkbox checked>Buckies incl. + size: 24x30</mat-checkbox>
          <mat-checkbox checked>HW Accessories: 2 footswitch, 2 mag paddles, 4 paddles</mat-checkbox>
          <mat-accordion class="mt-4">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Description</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Fuji Amulet Harmony includes a variety of mammography solutions designed to offer a harmonious examination environment and creates an atmosphere of trust between healthcare professionals and their patients.

                The Fuji Amulet Innovality 3D mammography system is highly advanced, it offers an exceptionally fast image interval of just 15 seconds. With the Fuji Amulet Innovality, you can provide faster, high quality examinations that will be beneficial for you and your patients too.

                The Fit Sweet Paddle is a special type of compression paddle that fits all shapes and sizes of breasts. It allows the pressure to evenly fall while ensuring safety and image clarity. Mammography examinations can be stressful, however the added mood lighting helps your patient to relax.

                Furthermore, five decorative labels are available to match your examination environment. The labels are designed to relieve your patient’s stress and anxiety.

                Fuji’s dedication in innovation and their commitment to provide quality mammography services resulted in the Fuji Amulet Innovality 3D as well. This system applies a particular a-Se flat panel to produce excellent images with a low X-ray dose. Due to the intelligent AEC (i-AEC) which is combined with a new image analysis technology, this system is able to automatically optimise the X-ray dose for each and every breast type.
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-end ">
      <button mat-button class="btnenquire">Enquire</button>
    </mat-card-actions>
  </mat-card>


  </div>
  