<!-- //card 8 -->
<mat-card class="card-spacing">
    <mat-card-header>
      <mat-card-title style="color: white;">Category: X-Rays</mat-card-title>
      <mat-card-subtitle>Siemens Somatom Definition AS 128</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">
        <div>
          <img src="../../../assets/xrays/xray7.png" alt="Photo of Siemens Somatom Definition AS 128" class="rounded-lg" style="max-width: 250px;">
        </div>
        <div class="w-2/3">
          <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
          <mat-checkbox checked>YOM: 2009</mat-checkbox>
          <mat-checkbox checked>Software Version: VA44A , syngo 2012B</mat-checkbox>
          <mat-checkbox checked>Slices: 128</mat-checkbox>
          <mat-checkbox checked>Tube Model: Straton MX P</mat-checkbox>
          <mat-checkbox checked>Tube YOM: upon request</mat-checkbox>
          <mat-checkbox checked>Tube Count: upon request</mat-checkbox>
          <mat-accordion class="mt-4">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Description</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Today, the Siemens Somatom Definition AS 128 is widely used by institutions worldwide, as it helps its users overcome the most common limitations that more conventional multislice CT machines have. 
                The Somatom Definition AS is an adaptive CT scanner, which: 
                Adapts to any patient
                Adapts for complete dose protection
                Adapts for new dimensions
                Adapts to your space
                This means that the Definition AS has high patient safety and great conditions for finding a solution to any clinical question – and fast. The machine can do a full body scan of 2 meters in just 10 seconds due to the 128-slice detector. 
                Because of the high true temporal resolution of 150 ms combined with the highest spatial resolution, as well as advanced scanning techniques, the Siemens Somatom Definition AS 128 produces highly reliable imaging. At the lowest possible dose. The machine uses CARE Dose4D™ technology to modulate doses in real-time, which is what ensures impeccable image quality at a low dose. This is no matter if you are dealing with pediatric, cardiac, trauma, or obese patients. 
                In addition, to protect from over-radiation both pre- and post-spiral, the Siemens Somatom Definition AS 128 uses an Adaptive Dose Shield. 
                The Adaptive Dose Shield is a technology unique to the STRATON X-ray tube design. This type of design makes a shield move so that it blocks any unnecessary doses from reaching the patient during the scan. This reduction in dose further helps you save 25% of the dose in routine examinations.
                Furthermore, the Somatom Definition AS has an Adaptive 4D Spiral, enabling you to get a 4D full image of any organs. Thus, a new dimension is added to CT imaging for tumor, stroke, and dynamic CT angiography evaluation. 
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-end ">
      <button mat-button class="btnenquire">Enquire</button>
    </mat-card-actions>
  </mat-card>
<!-- //card 9 -->
<mat-card class="card-spacing">
    <mat-card-header>
      <mat-card-title style="color: white;">Category: X-Rays</mat-card-title>
      <mat-card-subtitle>Siemens Somatom Emotion 16</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">
        <div>
          <img src="../../../assets/xrays/xray8.png" alt="Photo of Siemens Somatom Emotion 16" class="rounded-lg" style="max-width: 250px;">
        </div>
        <div class="w-2/3">
          <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
          <mat-checkbox checked>YOM: 2014</mat-checkbox>
          <mat-checkbox checked>Software Version: VC20B</mat-checkbox>
          <mat-checkbox checked>Slices: 16</mat-checkbox>
          <mat-checkbox checked>Tube Model: upon asking</mat-checkbox>
          <mat-checkbox checked>Tube YOM: upon asking</mat-checkbox>
          <mat-checkbox checked>Tube Count: Upon asking</mat-checkbox>
          <mat-accordion class="mt-4">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Description</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                The Siemens Emotion 16 slice CT scanner is a part of the Siemens CT scanner line, which is among the most popular in the world. This CT scanner offers Siemens’s newest technology advances and makes CT scanning more efficient than ever before. Furthermore, the Emotion 16 obtains top quality images with minimal life-cycle cost.
                In CT technology, image quality has always been the first priority. Therefore, the constant focus during development of the Siemens SOMATOM Emotion 16 was on image details and quality. That was achieved through a perfectly designed imaging chain that balances the tube, detector and supporting electronic technologies.
                Moreover, it offers a wide range of clinical imaging applications and fast patient flow. The system comes with a software platform syngo® which makes training quicker, more efficient as well as less expensive for your facility. Syngo application platform is revolutionary, very intuitive and easy to use. It optimize up-front patient logistics and ensures easy evaluation of complex volumetric image, hereby streamlining the clinical flow.
                This system acquires up to 16 images per second, and performs both routine and detailed, high-resolution exams with ease. Furthermore, the Siemens Emotion 16 is a very compact CT scanner that produces clinically excellent results.
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-end ">
      <button mat-button class="btnenquire">Enquire</button>
    </mat-card-actions>
  </mat-card>

  <!-- //card 10 -->
<mat-card class="card-spacing">
    <mat-card-header>
      <mat-card-title style="color: white;">Category: X-Rays</mat-card-title>
      <mat-card-subtitle>Siemens Somatom Sensation 64</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">
        <div>
          <img src="../../../assets/xrays/xray9.png" alt="Photo of Siemens Somatom Sensation 64" class="rounded-lg" style="max-width: 250px;">
        </div>
        <div class="w-2/3">
          <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
          <mat-checkbox checked>YOM: Upon asking</mat-checkbox>
          <mat-checkbox checked>Software Version: VB42B</mat-checkbox>
          <mat-checkbox checked>Slices: 64</mat-checkbox>
          <mat-checkbox checked>Tube Model: Upon asking</mat-checkbox>
          <mat-checkbox checked>Tube YOM: upon asking</mat-checkbox>
          <mat-checkbox checked>Tube Count: upon asking</mat-checkbox>
          <mat-accordion class="mt-4">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Description</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                The Siemens Sensation 64 is a part of the popular Somatom CT line, that has a large install base worldwide. Siemens has been a large player in the CT market for many years now, and it shows. Thus, the Siemens Somatom Sensation 64 is a high quality Siemens CT scanner that offers a range of excellent technologies.
                Siemens introduced the STRATON X-ray tube and z-sharp technology to remove the trade-off between speed, resolution, coverage, and low dose. Hereby, healthcare professionals can get optimal results, every time. The STRATON tube also offers very effective cooling of the tube, therefore, there will be no cooling delays, not even after demanding scans. The z-Sharp technology utilize two overlapping X-ray beams, and hereby the resolution is significantly increased. Furthermore, the Siemens Somatom Sensation 64 had the fastest 64-slice rotation time, at the time it came out.
                Additionally, they ensured that the Siemens Somatom Sensation 64 can perform examinations with a low dose. This is due to their CARE Dose4D application, that adapts to each individual patient, which reduce the dose with up to 68%. Furthermore, they have developed tools that decrease doses in heart examinations, the sequential Step and Shoot, and Adaptive ECG Pulsing.
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-end ">
      <button mat-button class="btnenquire">Enquire</button>
    </mat-card-actions>
  </mat-card>

  <!-- //card 11 -->
<mat-card class="card-spacing">
    <mat-card-header>
      <mat-card-title style="color: white;">Category: X-Rays</mat-card-title>
      <mat-card-subtitle>Siemens Somatom Definition AS 64</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">
        <div>
          <img src="../../../assets/xrays/xray10.png" alt="Photo of Siemens Somatom Definition AS 64" class="rounded-lg" style="max-width: 250px;">
        </div>
        <div class="w-2/3">
          <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
          <mat-checkbox checked>YOM: Upon asking</mat-checkbox>
          <mat-checkbox checked>Software Version: upon asking</mat-checkbox>
          <mat-checkbox checked>Slices: 64</mat-checkbox>
          <mat-checkbox checked>Tube Model: Upon asking</mat-checkbox>
          <mat-checkbox checked>Tube YOM: upon asking</mat-checkbox>
          <mat-checkbox checked>Tube Count: Upon asking</mat-checkbox>
          <mat-accordion class="mt-4">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Description</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                The Siemens Somatom Definition AS is a good Siemens CT scanner. Additionally, the Somatom Definition AS offers a good dose reduction solution without compromising image quality. Therefore, it produces excellent image quality for precise treatment. It comes as a 64 slice system but can be upgraded to a 128 slice system.
                The Somatom Definition AS provides many technical features and options needed for high resolution, high contrast, and fast scanning with minimal motion artifacts. Moreover, this system is designed to be able to rotate in 0,28 seconds, and it is possible to make the scan speed coverage of up to 23 cm per second. The system can be arranged and shaped to your specific clinical needs.
                It is important to mention that the Somatom Definition AS can be upgraded with the Stellar detector. It is the first fully integrated CT detector which is used for signal detection and noise reduction. Furthermore, this system is impressive and works remarkably fast as there is no need for cooling delays nor warm ups before scanning.
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-end ">
      <button mat-button class="btnenquire">Enquire</button>
    </mat-card-actions>
  </mat-card>

<!-- //card 12 -->
<mat-card class="card-spacing">
    <mat-card-header>
      <mat-card-title style="color: white;">Category: X-Rays</mat-card-title>
      <mat-card-subtitle>GE BrightSpeed Elite 16</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">
        <div>
          <img src="../../../assets/xrays/xray11.png" alt="Photo of GE BrightSpeed Elite 16" class="rounded-lg" style="max-width: 250px;">
        </div>
        <div class="w-2/3">
          <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
          <mat-checkbox checked>YOM: Upon asking</mat-checkbox>
          <mat-checkbox checked>Software Version: upon asking</mat-checkbox>
          <mat-checkbox checked>Slices: 16</mat-checkbox>
          <mat-checkbox checked>Tube YOM: upon asking</mat-checkbox>
          <mat-checkbox checked>Tube Count: upon asking</mat-checkbox>
          <mat-accordion class="mt-4">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Description</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                This GE BrightSpeed 16 slice is a GE CT scanner that delivers high-image quality at a lowered radiation dose. It comes with several technologies, including ASiR. Furthermore, it delivers a reduction in radiation dose of up to 40%, with no compromises in image quality. Additionally, this technology enables reduction of image noise. However, keep in mind that ASiR is an option on older versions of the Elite but is standard on newer systems.
                Furthermore, the GE BrightSpeed Elite 16 slice helps clinicians to be more efficient. The CT scanner has several workflow solutions that accelerate image acquisition, processing, and transfer. GE optimized the workflow at every step, from acquisition to reporting. For instance, they equipped the console of the BrightSpeed Elite with the latest computer technology. Including Intel’s® Quad-Core CPU that allows it to manage large, thick-slice datasets with ease.
                Moreover, the GE BrightSpeed Elite 16 slice with ASiR maximizes throughput. And it delivers scanning performance equivalent to an 8 MHU tube system. Hereby, it allows you to scan at lower mA, for equivalent image quality. Hence, throughput increases as this reduces the stress on tube and generator. Additionally, you can choose to skip tube cooling to decrease time between exams.
                The GE BrightSpeed Elite includes the best technologies from previous BrightSpeed systems. Most importantly the IQ Enhance algorithm. This lets you scan faster without having to worry about sacrificing image quality. Furthermore, the BrightSpeed Elite 16 can provide you with flexibility to address critical situations. From head to toe, the system will produce high quality images across a wide range of applications. Therefore, the performance will be great even if your patients are heavier and larger.
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-end ">
      <button mat-button class="btnenquire">Enquire</button>
    </mat-card-actions>
  </mat-card>
<!-- //card 13 -->
<mat-card class="card-spacing">
    <mat-card-header>
      <mat-card-title style="color: white;">Category: X-Rays</mat-card-title>
      <mat-card-subtitle>GE Optima 660</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex">
        <div>
          <img src="../../../assets/xrays/xray12.png" alt="Photo of GE Optima 660" class="rounded-lg" style="max-width: 250px;">
        </div>
        <div class="w-2/3">
          <h4 style="color: white; margin-left: 10px; font-family: fantasy; font-weight: bold;">Specifications:</h4>
          <mat-checkbox checked>YOM: upon asking</mat-checkbox>
          <mat-checkbox checked>Slices: 128</mat-checkbox>
          <mat-checkbox checked>Tube YOM: upon asking</mat-checkbox>
          <mat-accordion class="mt-4">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Description</mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                The Optima 660 is an excellent GE CT scanner that helps you provide competent personal care. This intelligent Volume CT scanner of the next generation combines innovation from Discovery and LightSpeed CT families. With the this CT scanner, you will get fast, high-quality acquisitions, at optimized doses for patients.
                You can use this system for a wide range of applications such as cardiac, angiography, brain, chest, abdomen, orthopedic, and more.
                Both technologists and radiologists benefit from ergonomic features and numerous improvements in efficiency and diagnostics. The GE Optima 660 can fit into your available spaces thanks to its compact footprint. Furthermore, its modular design will help you choose capabilities to meet your budget and expand as you grow.
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex justify-end ">
      <button mat-button class="btnenquire">Enquire</button>
    </mat-card-actions>
  </mat-card>
